.previewer {
	background-color: #aed6ff;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 1em;
	height: 100%;
	width: 100%;
	padding: 0.5em;
	overflow: scroll;
	margin: 5px;
}
.preview {
	blockquote {
		border-left: 3px solid #224b4b;
		color: #224b4b;
		padding-left: 5px;
		margin-left: 25px;
	}

	code {
		background: white;
		padding: 1px 4px 2px 4px;
		font-size: 12px;
		font-weight: bold;
	}

	pre {
		background: white;
		padding: 5px 0 5px 5px;
	}

	h1 {
		border-bottom: 2px solid black;
	}

	h2 {
		border-bottom: 1px solid black;
	}

	table {
		border-collapse: collapse;
	}

	td,
	th {
		border: 2px solid black;
		padding-left: 5px;
		padding-right: 5px;
	}
}
