.editor {
	background-color: #c0d8d8;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 1em;
	height: 100%;
	width: 50%;
	padding: 0.5em;
	overflow: scroll;
}

.editor-textarea {
	width: 100%;
	height: 100%;
}
