body {
	margin: 0;
	font-family: "Share Tech Mono", monospace;
	background-color: #4ca1af;
	width: 100vw;
	height: 100vh;
}

textarea {
	background-color: #c0d8d8;
	border: 2px solid black;
	border-radius: 5px;
	margin: 5px;
	font-size: 1em;
	padding-left: 10px;
}

* {
	box-sizing: border-box;
}

#root {
	font-size: 15px;
}
