body {
	margin: 0;
	font-family: "Share Tech Mono", monospace;
	background-color: rgb(11, 122, 243);
	width: 100vw;
	height: 100vh;
}

textarea {
	border: 2px solid black;
	border-radius: 5px;
	padding: 0.5em;
	resize: none;
}

* {
	box-sizing: border-box;
}

#root {
	font-size: 15px;
}
